$color-primary: #23c29c;
$color-grey: grey;
$color-black: #000000;
$colo-secondary:#1f293b;
$color-white: #fff;
$font-primary: "Poppins";
$bp-large:1000px;
$bp-big:895px;
$bp-small:720px;
$bp-smallest:500px;
$bp-thin:380px;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font-primary;
}
body{
  @media screen and (max-width:$bp-large) {
    font-size: 12px; 
  }
  @media screen and (max-width:$bp-big) {
    font-size: 10px; 
    overflow: hidden;
  }
  @media screen and (max-width:$bp-small) {
    font-size: 8px; 
   
  }
}
.ds- {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  &searcher {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__logo {
      display: block;
      width: 28rem;
      @media screen and (max-width:$bp-large) {
        width: 24rem; 
      }
      @media screen and (max-width:$bp-big) {
        width: 19rem; 
      }
      @media screen and (max-width:$bp-small) {
        width: 18rem; 
      }
      @media screen and (max-width:$bp-smallest) {
        width: 16rem; 
      }
      @media screen and (max-width:$bp-thin) {
        width: 13rem; 
      }
  
      img {
        width: 100%;
        height: auto;
      }
    }
   
    &__input {
      margin: 1.5rem;
    
      width: 45vw;
      border: 2px solid rgba($color-black, 0.02);
      border-radius: 1000px;
      // background-color: rgba($color-grey, 0.18);
      background-color: $colo-secondary;
      // color: rgba($color-grey, 0.6);
      color: rgba($color-white, 0.6);
      padding: 0.8rem 1.5rem;
      margin-right: 0.5rem;
      @media screen and (max-width:$bp-big) {
        padding: .6rem 1.2rem;
        width: 50vw;
      }
      @media screen and (max-width:$bp-thin) {
        padding: .4rem 1rem;
          margin-bottom: 1.2rem;
      }
      @media screen and (max-width:$bp-smallest) {
        margin: 01rem;
        width: 65vw;
      }
      transition: background 0.3s ease;
      &:hover {
        filter: brightness(110%); 
        background: $color-primary;
        color: $color-white;
      }
      &:focus {
        outline: none;
        box-shadow: 0px 8px 10px rgba($color-black, 0.1);
       
      }
      &:hover + button {
        background-color: rgba($color-white, 0.18);
        color: rgba($color-primary, 1);
        border: 2px solid $color-primary;
      }
    }
  
    &__buttom {
      padding: 0.8rem 1.5rem;
      &-box{
        display: inline-block;
       
      }
      @media screen and (max-width:$bp-big) {
        padding: .6rem 1.2rem;
        
      }
      margin-right: 0.6rem;
      border-radius: 1000px;
      border: none;
      background-color: rgba($color-primary, 1);
      font-weight: 600;
      color: rgba($color-white, 1);
      transition: all 0.2s ease;
      border: 2px solid transparent;
      &:hover {
        filter: brightness(110%);
        box-shadow: 0px 8px 10px rgba($color-black, 0.15);
      }
      &:focus {
        outline: none;
      }
    }
    &__form{
      @media screen and (max-width:$bp-smallest) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    &__legal {
      text-align: center;
      justify-self: flex-end;
      width: 45%;
      color: rgba($color-grey, 1);
      font-weight: 300;
      font-size: 0.7rem;
      @media screen and (max-width:$bp-big) {
        font-size: .6rem;
        width: 60%;
      }
      
      transform: translateY(25vh);
      a {
        color: rgba($color-primary, 1);
      }
    }
  }
}
#url {
  &_copy {
    border-radius: 1000px;
    padding: 0.4rem 0.8rem 0.8rem 0.8rem;
    @media screen and (max-width:$bp-big) {
      padding: 0.2rem 0.6rem 0.6rem 0.6rem;
    }
    background-color: #1f293b;
    > svg {
      transform: translateY(6px);
    }
  }
}
body{
 
    background-position-x: 90%;;
    background-image: linear-gradient(-90deg, transparent 0%, transparent 50%, $color-primary 50%);
    background-size: 222%;
}
 
.slideAnimation{
    animation: slide .6s ease-in-out;
}
@keyframes slide{
to{
    background-position: 0%;
   }
}

.error{
  background-color: red !important;
  color:white !important;
}